*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto sans TC',sans-serif;
}
body{
    background-color: black;
}
.navbar{
    display: flex;
    background-color:red;
    padding: 10px;
    margin: auto;
}
.navbar .navbar_a{
    display: flex;
    margin-left: auto;
}
.navbar a{
    font-size: 24px;
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-size: 36px;
}
.Content h1{
    color: #fff;
}
.Content p{
    color: red;
}